@charset 'utf-8';

@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 300;
    src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot);
    src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
        url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.woff) format('woff'),
        url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 400;
    src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.eot);
    src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.eot?#iefix) format('embedded-opentype'),
        url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.woff) format('woff'),
        url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 700;
    src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot);
    src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
        url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.woff) format('woff'),
        url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.ttf) format('truetype');
}


html,
body {
  position: relative;
  height: 100%;
}

body {
    font-family: 'KoPub Dotum';
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #fffcf4;
    overflow-x: hidden;
}

.max {
    max-width: 1400px;
    margin: auto;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
transform: skew(-0.1deg);
}


/* banner */

.hd_ban {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: #88d3d1;
    color: white;
    display: block;
}

.hd_ban i {
    position: absolute;
    right: 0;
    padding: 0 1rem;
    cursor: pointer;
}

/* toggle */

.backcolor {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    display: none;
}

.tog_list {
    width: 50%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    right: -50%;
    top: 0;
    background-color: #fffcf4;
}

.tog_list > div {
    padding: 1rem;
    text-align: right;
    font-size: 1.2rem;
}

.tog_list nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tog_list a {
    padding: 1rem 0;
}

/* header */

header .hd_obj {
    display: flex;
    background-color: #462711;
    width: 100%;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header .hd_obj > * {
    width: calc(100% / 3);
}

header .hd_token {
    display: flex;
}

.hd_token img {
    width: 7%;
    min-width: 25px;
}

.hd_img {
    display: flex;
    justify-content: center;
}

.hd_img img {
    width: 30%;
    min-width: 100px;
}

.hd_nav {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3);
}

.hd_nav a {
    width: 100%;
    display: block;
    font-size: 0.9rem;
    padding: 0.5rem;
    color: white;
}

header .hd_nav2 {
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    background-color: #462711;
}

.hd_nav2 a {
    color: white;
}

.hd_bar {
    font-size: 1.5rem;
    color: white;
    display: none;
}

@media(max-width:700px){

    header .hd_obj {
        justify-content: space-between;
        padding: 0.3rem 0.5rem;
    }

    .hd_obj>* {
        width: 50%;
    }

    .hd_img {
        display: flex;
        justify-content: left;
    }

    header .hd_token {
        display: none;
    }

    .hd_nav {
        display: none;
    }

    .hd_bar {
        text-align: right;
        display: block;
    }

    .hd_obj2 {
        display: none;
    }
}

/* sec1 */

.sec1 {
    width: 100%;
}

.sec1_img {
    width: 100%;
}

.sec1_img img {
    width: 100%;
}


/* sec2 */

.sec2 {
    width: 100%;
    display: flex;
    padding: 3rem 0;
}

.sec2 .sec2_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.sec2 .sec2_list li {
    width: 47%;
    position: relative;
}

.sec2_list li img {
    width: 100%;
    object-fit: cover;
}

.sec2_list li a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.sec2_list li a:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
}


/* sec2_swiper */

.swiper {
  width: 96%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: lightgray;
}

@media(max-width:700px){
    .sec2 {
        flex-wrap: wrap;
    }
}


/* sec3 */

.sec3 {
    width: 100%;
}

.sec3_grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "img1 img1 img1 img3 img3 img3"
    "img2 img2 img2 img4 img4 img5"
    ;
    gap: 1rem;
}

.sec3_grid > div {
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    position: relative;
}

.sec3_grid > div img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    min-width: 600px;
}

.sec3_grid div:nth-of-type(1) {
    grid-area: img1;
    position: relative;
}

.grid1_txt {
    padding: 0 1rem;
}

.sec3_grid div:nth-of-type(1) > div {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: .5s;
}

.sec3_grid div:nth-of-type(1):hover > div {
    height: 100%;
}

.grid1_txt > p:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid1_txt span:nth-of-type(1),
.grid1_txt span:nth-of-type(2) {
    font-size: 0.5rem;
}

.grid1_txt strong {
    font-size: 1.5rem;
    font-weight: bold;
}

.sec3_grid div:nth-of-type(2) {
    grid-area: img2;
    position: relative;
}

.sec3_grid div:nth-of-type(2) > div {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: .5s;
}

.sec3_grid div:nth-of-type(2):hover > div {
    height: 100%;
}

.grid2_txt {
    padding: 0 1rem;
}

.grid2_txt > p:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid2_txt span:nth-of-type(1),
.grid2_txt span:nth-of-type(2) {
    font-size: 0.5rem;
}

.grid2_txt strong {
    font-size: 1.5rem;
    font-weight: bold;
}


.sec3_grid div:nth-of-type(3) {
    grid-area: img3;
}
.sec3_grid div:nth-of-type(4) {
    grid-area: img4;
}
.sec3_grid div:nth-of-type(5) {
    grid-area: img5;
}

.sec3_grid div:nth-of-type(5) img {
    min-width: 200px;
}

@media(max-width:700px){
    .sec3_grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        gap: 1rem;
    }

    .grid1_txt strong,
    .grid2_txt strong {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .grid1_txt>p:nth-of-type(2),
    .grid2_txt>p:nth-of-type(2) {
        font-size: 0.7rem;
    }
}


/* sec4 */

.sec4 {
    padding: 3rem 0;
    display: flex;
    gap: 1.5rem;
}

.sec4 h2 {
    font-size: 1.5rem;
    color: #7a6b68;
    font-weight: bold;
    padding-bottom: 1rem;
}

.sec4 > * {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.sec4_info .info_txt {
    display: flex;
    justify-content: space-between;
}

.info_txt > p {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.info_txt > p strong {
    color: #462711;
    font-size: 2rem;
    font-weight: bold;
}

.info_txt > div {
    display: flex;
    flex-direction: column;
}

.info_txt > div a {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    background-color: #7a6b68;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_txt > div a:nth-of-type(3) {
    background-color: #fce11f;
    color: #462711;
}


.sec4_noti .sec4_list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.sec4_list li p:nth-of-type(1) {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sec4_search {
    position: relative;
    padding-top: 130px;
    overflow: hidden;
}

.search_wrap {
    position: absolute;
    top: 0%;
}

.sec4_search .search_txt {
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
}

.search_txt strong {
    font-size: 1.5rem;
}

.search_txt input {
    margin-top: 0.5rem;
}

.sec4_search img {
    width: 100%;
}

@media (max-width:700px){
    .sec4 {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .sec4>div {
        width: 100%;
    }

    .sec4_search {
        padding-top: 180px;
    }
}

/* footer */


footer {
    background-color: #462711;
}

.fot_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 0;
    opacity: 0.7;
}

.fot_top>* {
    width: calc(100% / 3);
}

.fot_top nav a {
    color: white;
    font-size: 0.8rem;
}

.fot_top .fot_list {
    display: flex;
}

.fot_list li {
    padding: 0 0.5rem;
}

.fot_list img {
    filter: saturate(0);
    width: 100%;
}

.fot_bottom {
    color: white;
    padding: 1rem 0;
    font-size: 0.7rem;
}

.fot_bottom p {
    margin-bottom: 0.3rem;
    opacity: 0.7;
}

@media(max-width:700px) {
    .fot_top{
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    .fot_top>* {
        width: 100%;
    }

    .fot_top nav {
        display: flex;
        justify-content: space-between;
    }

    .fot_bottom {
        padding: 1rem;
        font-size: 0.5rem;
    }
}
